<div class="w-full content-center bg-tttWhite md:px-64 dark:bg-tttBlack">
    <p-menubar [model]="items" styleClass="px-0 py-3 border-none">
        <ng-template #start>
            <a routerLink="/" class="mr-8">
                <img src="/img/logo.png" class="max-h-6" alt="Tactical Training Team Logo" />
            </a>
        </ng-template>
        <ng-template #end>
            <a routerLink="/mitmachen" pButton size="large" class="font-heading font-bold">Mitmachen</a>
        </ng-template>
    </p-menubar>
</div>
