<div role="heading">
    <a routerLink="/">
        <img src="/logo.png" alt="Tactical Training Team Logo" class="m-16">
    </a>
    <nav>
        <a routerLink="/" class="m-2">Home</a>
        <a routerLink="/events" class="m-2">Events</a>
        <a href="https://discord.tacticalteam.de/" target="_blank" class="m-2">Discord</a>
        <a href="ts3server://ts3.tacticalteam.de" class="m-2">TS3</a>
        <a href="https://wiki.tacticalteam.de/" target="_blank" class="m-2">Wiki</a>
        <a routerLink="ueber-uns" class="m-2">Über uns</a>
        <a routerLink="intern" class="m-2">Intern</a>
    </nav>
    <span class="flex-auto"></span>
    <button class="m-16">Jetzt mitmachen!</button>
</div>
